html, body, #page {
overflow: hidden;
padding: 0;
margin: 0;
width: 100%;
height: calc(100% - 2px);
}
main {
position: relative;
width: 100%;
height: 100%;
background-color: #cccccc;
}
main canvas {
position: absolute;
}
#bg-canvas {
z-index: 0;
}
#main-canvas {
z-index: 1;
}
#text-canvas {
z-index: 2;
}

