
body {
	font-size: 20px;
	background-color: #225577;
}

#page_content {
	width: 600px;
	margin: 3em calc(50% - 300px);
}
.parts {
	border-color: #000000;
	border-width: 0.1em;
	border-style: solid;
	background-color: #ffffff;
	margin: 0.5em 0em;
}
#headpart {
	width: 550px;
	padding: 10px 25px 10px 25px;
	text-align: center;
}
#mainpart {
	width: 450px;
	padding: 30px 0em 30px 150px;
}
#logo_text {
	font-size: 36px;
	color: #112244;
}

.questions {
	margin: 0.5em 0em;
}
.alt_blocks {
	margin: 0.5em 0em;
}
.button_blocks {
	margin: 0.5em 0em;
}
.stat_bloks {
	margin: 0.5em 0em;
}

.question_texts {
	margin: 0.5em 0em;
}
.question_images {
	width: calc(300px - 0.2em);
	border-style: solid;
	border-color: #111111;
	border-width: 0.1em;
}


.alternatives {
	width: 300px;
	margin: 0.2em 0em; 
}
.alternatives_result {
	width: calc(300px - 1em);
	margin: 0.2em 0em; 
	padding: 0em 0em 0em 1em;
}
.alternatives_other {
	background-color: #dddddd;
	color: inherit;
}
.alternatives_right {
	background-color: #22aa55;
	color: #eeeeee;
}
.alternatives_wrong {
	background-color: #aa3333;
	color: #eeeeee;
}



